@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222831;
}

.quote_container {
  background-color: #EEEEEE;
  border-radius: 10px;
  font-size: 24px;
  letter-spacing: .3rem;
  line-height: 2.5rem;
  margin: 0 2rem;
  padding: 1rem;
}

h1 {
  color: #FFD369;
  font-size: 3rem;
  text-align: center;
}

.author_div, .phrase_div, .word_div {
  display: flex;
}

.author_div {
  justify-content: flex-end;
}

.phrase_div {
  flex-wrap: wrap;
}

.word_div {
  padding: 1rem;
}

.char_container {
  text-align: center;
}

.char_input {
  border: none;
  border-bottom: 1px solid #222831;
  border-radius: 6px;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  margin: 0 6px;
  max-width: 1.5rem;
  text-align: center;
  padding: 6px;
}

p.puzzle_p {
  margin: 0;
  height: 50px;
}