@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap');

body {
  margin: 0;
  font-family: 'EB Garamond', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom left, #0093AB, #006778, #00AFC1, #0093AB);
  color: #191A19;
  height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.hint, .used_hint {
  height: 40px;
  padding: 4px;
}

.hint {
  cursor: pointer;
}

.used_hint {
  cursor: not-allowed;
}

/* Loading Animation */
.loading_container {
  animation: loading 1s;
  background-color: #FFFFFF;
  margin-top: 20vh;
}

@keyframes loading {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.bouncer{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100px;
  height: 100px;
  margin: auto;
}
.bouncer div{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #FFD124;
  animation: bouncer 0.5s cubic-bezier(.19, .57, .3, .98) infinite alternate;
}
.bouncer div:nth-child(2){
  animation-delay: 0.1s;
  opacity: 0.8;
}
.bouncer div:nth-child(3){
  animation-delay: 0.2s;
  opacity: 0.6;
}
.bouncer div:nth-child(4){
  animation-delay: 0.3s;
  opacity: 0.4;
}
@keyframes bouncer{
  from { transform: translateY(0) }
  to { transform: translateY(-50px)}
}

.loading_p {
  background-color: #EEEEEE;
  color: #191A19;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  padding: 4px;
  text-align: center;
}

.quote_container {
  background-color: #EEEEEE;
  border-radius: 10px;
  font-size: 24px;
  line-height: 2rem;
  margin: 0 2rem;
  padding: 1rem;
}

h1 {
  color: #FFD124;
  font-size: 3rem;
  margin: 1rem;
  text-align: center;
}

.author_div, .phrase_div, .word_div {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.author_div {
  justify-content: flex-end;
}

.word_div {
  padding: 1rem;
}

.char_container {
  text-align: center;
}

.char_input {
  border: none;
  border-bottom: 1px solid #222831;
  border-radius: 6px;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0 2px;
  max-width: 1.5rem;
  text-align: center;
  padding: 4px;
}

.char_input:disabled {
  background-color: #FFFFFF;
}

.lowercase input {
  text-transform: lowercase;
}

.uppercase input {
  text-transform: uppercase;
}

p.puzzle_p {
  margin: 0;
  height: 45px;
}

.modal {
  background-color: #FFFFFF;
  border: 1px solid #222831;
  color: #222831;
  left: 50%;
  margin: auto;
  max-width: 300px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal h3 {
  background-color: #FFD124;
  font-weight: 900;
  margin: 0;
  padding: 6px;
}

.solution {
  padding: 12px 12px 6px 12px;
}

.solution p {
  margin: 10px;
}

.solution-name {
  font-style: italic;
}

.playAgain {
  background-color: #0093AB;
  border: none;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 12px;
  padding: 10px;
}

.playAgain:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0;
  }
  
  h1 {
    font-size: 2rem;
    margin: 0.5rem;
  }

  .hint, .used_hint {
    height: 32px;
  }

  .quote_container {
    border-radius: 0px;
    font-size: 20px;
    line-height: 1.5rem;
    margin: 0;
    padding: 10px 0 0 0;
  }

  .word_div {
    padding: 6px 8px;
  }

  p.puzzle_p {
    height: 35px;
  }

  .char_input {
    font-size: 20px;
  }
}